* {
  box-sizing: border-box;
}
html {
  margin: 0%;
  height: 100%;
}
body {
  margin: 0%;
  height: 100%;
}


header {
  margin: 0;
  color:yellow;
  padding: 30px;
  font: 24px;
  background-color: cornflowerblue;
  width: 100%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 100%;
}

#Editor {
  /* terms container */
  .terms{
    margin: 2.5%;
    display: flex;
    justify-content:space-evenly;
    background-color:lightgreen;
  }

  .termTable{
    margin: 10px;
    border-collapse: collapse;
    padding: 10px;
    font-size: 16px;
    max-height: fit-content;
    width: 20%;
    table-layout: fixed;
  }

  .termTable th {
    border: solid 1px black;
    background-color: skyblue;
    padding: 10px;
    font-size: 16px;
    color: black;
  }

  .termTable td {
    border: solid 1px black;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    color: blue;
    height: fit-content;
  }

  .termTable td .symbol {
    display:none;
  }

  .termTable td:hover {
    span.romaji {
        display:none;
    }
    span.symbol {
        display:inline;
    }
    background:lightblue;
  }

  .termTable input[type="checkbox"] {
    transform: scale(1.25);
  }
}
